body{
    
    text-align: center;
    background-color: white
   
       
}


.titulo{
    color: purple;
    text-decoration-color: blue;
    text-align: center;
    font-family: fantasy;
    font-size: 30;
   
}